[submodule "proofs"]
	path = proofs
	url = https://github.com/hoeflerco/proofs.git
	branch = master
[submodule "explorer/public/fmin"]
	path = explorer/public/fmin
	url = https://github.com/benfred/fmin
	branch = master
