[submodule "proofs"]
	path = proofs
	url = https://github.com/hoeflerco/proofs.git
	branch = master
[submodule "web/src/lib/fmin"]
	path = web/src/lib/fmin
	url = https://github.com/terryspitz/fmin
	branch = master
