body {
    display:grid;
    grid-template-columns: max-content auto;
    grid-gap:5px;
}
fill-scroll {
    height:auto;
    overflow:scroll;
}
title-class {
    grid-column:1/-1;
}
form {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto repeat(auto-fill, 1.5em);
    grid-gap:5px;
}
form label       { text-align:right; }
form label:after { content: ":"; }